body {
  font-family: sans-serif;
  margin: auto;
  background-color: #00202e;
  max-width: 1280px;
}

dialog {
  color: #0096d8;
  outline: none; 
  border: none; 
  background: #00202ecc;
}

img {
  width: 32px;
  height: 32px
}


.spells {
  display: grid;
  grid-template-columns: repeat(auto-fill, 150px);
  background-color: #00202e;
  padding: 10px;
  overflow: scroll;
}

/* Hide the scrollbar for Chrome, Safari and Opera */
.spells::-webkit-scrollbar {
  display: none;
}

/* Hide the scrollbar for Internet Explorer, Edge and Firefox */
.spells {
  -ms-overflow-style: none;  /* Internet Explorer and Edge */
  scrollbar-width: none;  /* Firefox */
}

.spell:hover, .menu:hover {
  background-color: rgba(255, 255, 255, 0.9);
}

.spell, .couldron, .menu {
  background-color: rgba(255, 255, 255, 0.7);
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 20px;
  text-align: center;
  justify-items: center;
  align-items: center;
  font-size: large;
  font-weight: bold;
}



.couldron {
  grid-column-start: 1;
  grid-column-end: span 2;
  grid-row-start: 1;
  grid-row-end: span 2;
}

button {
  background-color: #0079ad;
  border: none;
  color: white;
  padding: 15px 32px;
  margin: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
}

button:hover {
  background-color: #d3e4ef;
}

.levellist {
  display: grid;
  grid-template-columns: repeat(auto-fill, 150px);
}

.levelselectdialog {
  width: 70%;
}